body {
  color: rgba(255, 255, 255, 0.781);
  background: rgba(0, 0, 0, 0.911);
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  color: rgba(250, 90, 32, 0.884);
}
a {
  color: #93daf7e1;
}
.banner {
  width: 100%;
}
.banner .subbanner {
  display: flex;
  height: 100%;
  align-items: right;
  justify-content: right;
}

.login {
  text-align: center;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.neonTextFlickering {
  animation: pulsate 2.5s infinite alternate;
  color: #fff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
  }
}

.login input[type="text"] {
  border-radius: 6px;
}
.login input[type="password"] {
  border-radius: 6px;
}

footer {
  text-align: center;
}
